<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="file" xsi:type="File" layout="              
             -----------Time Stamp: ${longdate}----------               
             Log Level: ${level}${newline}                         
             Logger Name : ${logger}${newline}              
             Log Message : ${message}${newline}              
             Exception Message: ${event-context:item=ErrorMessage}${newline}       
             Browser Detail:  ${event-context:item=BrowserDetail}${newline}               
             Session Id: ${event-context:item=SessionId}" fileName="${basedir}/logs/${shortdate}.log" />
   
    <target name="database" xsi:type="Database" keepConnection="false" dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=2.0.12.0, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionString="${gdc:item=defaultConnection}" commandText="INSERT INTO TW_LOGTABLE (LOG_LEVEL,LOGGER_NAME,AGENT_CODE,QUOTE_NO,SESSION_ID,REQUEST_URL,LOG_MESSAGE,BROWSER_DETAIL,ERROR_MESSAGE,CUSTOMER_IP_ADDRESS,SERVER_IP_ADDRESS,POLICY_NO) values(:LOGLEVEL,:LOGGERNAME,:PRODUCERCODE,:QUOTENO,:SESSIONID,:REQUESTURL,:LOGMESSAGE,:BROWSERDETAIL,:ERRORMESSAGE,:CUSTOMER_IP_ADDRESS,:SERVER_IP_ADDRESS,:POLICY_NO)">
      <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
      <parameter name="LOGGERNAME" layout="${logger}" />
      <parameter name="PRODUCERCODE" layout="${event-context:item=ProducerCode}" />
      <parameter name="QUOTENO" layout="${event-context:item=QuoteNo}" />
      <parameter name="SESSIONID" layout="${event-context:item=SessionId}" />
      <parameter name="REQUESTURL" layout="${event-context:item=RequestUrl}" />
      <parameter name="LOGMESSAGE" layout="${message}" />
      <parameter name="BROWSERDETAIL" layout="${event-context:item=BrowserDetail}" />
      <parameter name="ERRORMESSAGE" layout="${event-context:item=ErrorMessage}" />
      <parameter name="CUSTOMER_IP_ADDRESS" layout="${event-context:item=CUSTOMER_IP_ADDRESS}" />
      <parameter name="SERVER_IP_ADDRESS" layout="${event-context:item=SERVER_IP_ADDRESS}" />
      <parameter name="POLICY_NO" layout="${event-context:item=POLICY_NO}" />
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="database" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->
  </rules>
</nlog>