
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="col-lg-12">
    <div class="col-lg-6">
        <input type="button" id="btnGet" value="Go To Make" />
        <input type="button" id="btnGenerateError" value="Generate Error" />
    </div>
    <div class="col-lg-6">
        <div id="makemodellist" style="border:solid 1px"></div>
    </div>
</div>